h2{
    /* background: rgb(54, 54, 153); */
    color: black;
    padding: 8px 0px;
    margin: 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    border-bottom: solid 4px black;
}

/* Smart Phone */
@media(max-width: 540px){
   h2 .phoneview{
        /*  to make the page fit the screen size */
        width: 100vw;
    }
}
/* Laptop */
@media(max-width: 1280px){
   h2 .tabletview{
        width: 600px;
    }
}

img{
    height: 50px;
    margin: 10px;
}

.lang-box{
    background: #ffe636;
    border-radius: 10px;
    align-items: center;
    padding: 5px;
    font-size: 18px;
    justify-content: left;
    display: flex;
}

.lang-box:hover{
    background-color: #F3EBB4;
    cursor: pointer;
}