.alarm-card{
    color: white;
    background: black;
    max-width: 440px;
    padding: 30px;
    margin: 20px auto;
    border-radius: 20px;
}

h1{
    font-size: 30px;
    color:  yellow;
    font-weight: 500;
    text-align: center;
}

h2{
    color: #10B1CF;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin: 10px auto;
}

button{
    background: yellow;
    font-size: 18px;
    color: black;
    font-weight: 500;
    padding: 10px;
    margin: 10px auto;
    border-color: yellow;
}

.button-color{
    background: orange;
    border-color: orange;
}

img{
    display: block;
    margin: 20px auto;
}

/* when dynamic class is 'shake, image shakes */
img.shake{
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
