h2{
    /* background: rgb(54, 54, 153); */
    color: black;
    padding: 8px 0px;
    margin: 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    border-bottom: solid 4px black;

}

/* Smart Phone */
@media(max-width: 540px){
   h2 .phone-view{
        /*  to make the page fit the screen size */
        width: 100vw;
    }
}
/* Laptop */
@media(max-width: 1280px){
    h2 .tablet-view{
        width: 600px;
    }
}


/* Namespace - Scope - Componeent - Category - Property */
.slds-badge{
    font-size: 15px;
    font-weight: 500;
    --slds-c-badge-color-background:#ffe636;
    --slds-c-badge-text-color:black;
    margin-left: 10px;
    
}



