.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin: 10px;
  }
  
  
  .card .bottom {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card .bottom:hover, .card .referCode:hover{
    opacity: 0.4;
  }

  img{
    height: 350px;
    }

    .referCode{
      text-align: center;
      color: rgb(31, 30, 34);
      font-size: 17px;
      padding: 10px;
      background: rgb(243 235 180);
      max-width: 300px;
    }

    